.forgotLink {
  cursor: pointer;
  align-self: flex-end;
  margin-top: -0.5rem;
  padding: 0;
  border: none;
  font-size: 0.875rem;
  color: var(--muted-foreground);
  background: none;

  &:hover {
    color: var(--foreground);
  }
}

.submit {
  width: 100%;
}
