@use '@/ui-kit/styles/mixins' as *;

.toolbar {
  justify-content: flex-start;
}

.search {
  min-width: 0;
  flex: 1 1 rem(200);
}

.filter {
  width: 100%;

  @container admin-page (min-width: 30rem) {
    width: rem(190);
  }
}

.list {
  min-width: 0;
}

.spinner {
  margin: 3rem auto;
}
