@use '@/shared/styles/mixins' as *;

.positioner {
  z-index: 60;
}

.popup {
  transform-origin: var(--transform-origin);
  width: 18rem;
  padding: 1rem;
  border-radius: var(--radius-2xl);
  color: var(--popover-foreground);
  outline: none;

  @include overlay-enter;
  @include slide-from-side;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
}

.title {
  font-weight: 500;
}


.anchor {
  display: contents;
}
