@use '@/ui-kit/styles/functions' as *;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0.25rem;
}

.label {
  padding: 0.125rem 0.75rem;
  border-radius: 9999px;
  background: oklch(100% 0 0deg / 8%);
  color: var(--muted-foreground);
  font-size: rem(11);
  font-weight: 500;
}
