@use '@/ui-kit/styles/mixins' as *;

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--space-6);
  gap: var(--space-3);
}

.linkIcon {
  width: rem(17);
  height: rem(17);
}
