.root {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 100%;
  border: none;
  color: var(--muted-foreground);
  background: transparent;
  transition: colors 150ms ease-out;

  &:hover {
    color: var(--accent-foreground);
    background: var(--accent);
  }

  &:focus-visible {
    background: var(--accent);
    outline: none;
  }
}

.closeButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 100%;
  border: none;
  color: var(--muted-foreground);
  background: transparent;
  transition: colors 150ms ease-out;

  &:hover {
    color: white;
    background: var(--destructive);
  }

  &:focus-visible {
    color: white;
    background: var(--destructive);
    outline: none;
  }
}

.icon {
  width: 0.875rem;
  height: 0.875rem;
}
