@use '@/ui-kit/styles/mixins' as *;

.bubble {
  max-width: min(100%, 78ch);
  color: var(--foreground);
  font-size: rem(16);
  line-height: 1.375;
  overflow-wrap: break-word;
}

.bare {
  overflow: hidden;
  width: fit-content;
  max-width: min(100%, rem(420));
  border-radius: var(--radius-lg);
  margin-top: rem(2);
}
