.root {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1;
  user-select: none;

  :global([data-disabled='true']) & {
    opacity: 0.5;
    pointer-events: none;
  }

  :global(.peer:disabled) ~ & {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
