.root {
  position: absolute;
  z-index: 10;
  top: -0.125rem;
  left: 0;
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: var(--background);
  box-shadow: 0 0 0 1px var(--background);
}

.icon {
  width: 0.5rem;
  height: 0.5rem;
  color: oklch(87.9% 0.169 91.605deg);
  fill: oklch(87.9% 0.169 91.605deg);
}
