@use '@/ui-kit/styles/mixins' as *;

.positioner {
  z-index: var(--z-popup);
}

.popup {
  width: 18rem;
  padding: 1rem;
  border-radius: var(--radius-2xl);
  color: var(--popover-foreground);
  outline: none;
  transform-origin: var(--transform-origin);
}

.header {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 0.25rem;
}

.title {
  font-weight: 500;
}

.anchor {
  display: contents;
}
