.root {
  user-select: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;

  :global([data-disabled='true']) & {
    pointer-events: none;
    opacity: 0.5;
  }

  :global(.peer:disabled) ~ & {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
