@use '@/shared/styles/mixins' as *;
.root {
  display: inline-flex;
  min-width: 0;
  align-items: center;
  gap: 0.25rem;
  line-height: 1;
}

.link {
  padding-bottom: 1px;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;

  @include text-ellipsis;

  transition:
    background-size var(--duration-default) var(--timing-function-out),
    color var(--duration-default) var(--timing-function-out);

  &:hover {
    background-size: 100% 1px;
    color: var(--primary);
  }
}

.text {
  @include text-ellipsis;
}

.checkWrap {
  display: inline-flex;
  flex-shrink: 0;
  align-self: center;
  transform: translateY(1px);
}

.check {
  color: var(--background);
  fill: oklch(68.5% 0.169 237.323deg);
}

.checkSm {
  width: 0.875rem;
  height: 0.875rem;
}

.checkMd {
  width: 1rem;
  height: 1rem;
}
