@use '@/shared/styles/breakpoints' as *;

.root {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 100%;

  @include bp(sm) {
    gap: 0.5rem;
  }
}

.divider {
  flex-shrink: 0;
  width: 1px;
  height: 2rem;
  margin-inline: 0.25rem;
  background: rgb(255 255 255 / 10%);
}
