.root {
  display: flex;
  align-items: flex-end;
  animation:
    overlay-fade-in var(--duration-default) var(--timing-function-out),
    slide-in-from-bottom var(--duration-default) var(--timing-function-out);
  gap: 0.5rem;

  &[data-own='true'] {
    flex-direction: row-reverse;
  }

  &[data-pending='true'] {
    opacity: 0.6;
  }
}

.column {
  display: flex;
  min-width: 0;
  max-width: 85%;
  flex-direction: column;
  gap: 0.25rem;

  &[data-own='true'] {
    align-items: flex-end;
  }
}

.bodyRow {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 0.25rem;

  &[data-own='true'] {
    flex-direction: row-reverse;
  }
}
