@use '@/ui-kit/styles/mixins' as *;

.preview {
  display: flex;
  overflow: hidden;
  width: rem(64);
  height: rem(64);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: rem(20);
  font-size: 1.125rem;
  font-weight: 600;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
