@use '@/ui-kit/styles/mixins' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.grid {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(rem(180), 1fr));
}

.charts {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
}

.spinner {
  margin: 3rem auto;
}
