@use '@/ui-kit/styles/mixins' as *;

.content {
  width: rem(340);
}

.title {
  padding-bottom: 0.5rem;
}

.scroll {
  max-height: rem(360);
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: var(--radius-md);
  gap: 0.125rem;

  @include hover {
    background: oklch(100% 0 0deg / 5%);
  }
}

.body {
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  @include line-clamp(4);
}
